


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  .gameplay-container {
    font-family: 'Orbitron', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url('../assets/images/bg.jpg');
    background-size: contain;
    overflow: hidden;
  }


  .boss-health-bar-container {
    position: absolute;
    width: 60px; 
    height: 8px;
    background-color: #555;
    border-radius: 5px;
    top: -10px; 
    transition: 0.5s ease-out, 0.5s ease-out;
    transform: translateX(-75%);
  }
  
  .boss-health-bar {
    height: 100%;
    background-color: #4CAF50;
    border-radius: 5px;
    transition: width 0.5s ease-out, transform 0.5s ease-out;
  }
  
  

