.shop__bg{
    background-image: url('../assets/images/shopBG.png'); 
    background-size: cover; 
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1; 
}
.shop__container {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: #fff; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 50%; 
  max-width: 800px;
  margin: 10em auto;
  position: relative; 
  z-index: 2; 
  font-family: 'Orbitron', sans-serif;
    
    
  }
  
  
  .shop__title {
    color: #4CAF50; 
    margin-bottom: 20px; 
    font-size: 2em; 
  }
  
  
  .shop__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%; 
  }
  
 
  .shop__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px;
    background-color: #444;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease; 
  }
  
  .shop__item:hover {
    transform: translateY(-5px);
  }
  
  
  .shop__item button, .shop__back__button {
    padding: 10px 20px;
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .shop__item button:hover, .shop__back__button:hover {
    background-color: #66BB6A; 
    transform: scale(1.05); 
  }
  
  
  .shop__item button:disabled {
    background-color: #A5D6A7; 
    color: #C8E6C9;
    cursor: not-allowed;
  }
  
  
  .shop__back__button {
    background-color: #FF7043; 
    margin-top: 30px; 
  }
  
  .shop__back__button:hover {
    background-color: #FF5722; 
  }
  